h2 {
  letter-spacing: 0.1em;
}

  .deck {
    margin-top: 100px !important;
    margin-bottom: 100px !important;
    width: 350px;
    height: 250px;
    position: relative;
    perspective: 1200px;
    filter: drop-shadow(0 0 10px #515151);
  }

  .deck .card {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 5px solid #CFE0E1;
    border-radius: 20px;
    transition: transform 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    transform-origin: 50% 100%;
    transform-style: preserve-3d;
    transform: translateY(calc(-4px - var(--i) * 10px));
    background-color: #030303;
    z-index: calc(100 - var(--i));
  }

  .deck .card .card--front,
  .deck .card .card--back {
    position: absolute;
    top: 0;
    left: 7px;
    width: 96%;
    height: 100%;
    letter-spacing: 0.05em;
    color: #CFE0E1;
    backface-visibility: hidden;
    overflow-y: auto;
  }

  .deck .card .card--back {
    transform: rotateY(180deg);
    color: #52595A;
  }

  .deck .card .card--back a,
  .deck .card .card--back code {
    color: #52595A;
    background-color: #030303;
  }

  .deck .card.active {
    transform: translateY(4px) rotateX(-180deg);
    z-index: calc(100 + var(--i)) !important;
  }

  .deck .card .tab {
    position: absolute;
    padding: 2px;
    background-color: #CFE0E1;
    top: -30px;
    transform: translateX(calc(var(--i, 0) * 40px));
    width: 50px;
    height: 30px;
    border: 3px solid #030303;
    border-bottom: 0px;
    color: #030303;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    cursor: pointer;
    z-index: calc(100 - var(--i));
  }

  .deck .card .tab:hover {
    background-color: #333;
    color: #CFE0E1;
  }


.deck .lines {
  position: absolute;
  top: 75%;
  left: -30px;
  width: 25px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.deck .lines.right {
  left: auto;
  right: -30px;
}

.deck .lines span {
  display: block;
  width: 100%;
  background-color: #CFE0E1;
  margin-bottom: 4px;
  height: 3px;
}

.deck .lines span:nth-child(-n+2),
.deck .lines span:nth-last-child(-n+2) {
  height: 0.25px;
}

.deck .lines span:nth-child(n+3):nth-child(-n+4),
.deck .lines span:nth-last-child(n+3):nth-last-child(-n+4) {
  height: 0.5px;
}

.deck .lines span:nth-child(n+5):nth-child(-n+6),
.deck .lines span:nth-last-child(n+5):nth-last-child(-n+6) {
  height: 1px;
}

.deck .lines span:nth-child(n+7):nth-child(-n+8),
.deck .lines span:nth-last-child(n+7):nth-last-child(-n+8) {
  height: 2px;
}

.deck.flipping .lines span {
  animation: move-lines 0.3s infinite linear;
}

@keyframes move-lines {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100%);
  }
}


.vertical-lines {
  position: absolute;
  top: 80%;
  left: 80px;
  width: 25px;
  height: 70px;
  display: flex;
  border: 2px solid #030303;
  border-radius: 5px;
  background-color: #CFE0E1;
  z-index: 1000;
}

.vertical-lines:first-child {
  left: 240px;
}
